.container {
    color: white;
    display: grid;
    background-color: lightgray;
    padding: 3px;
    box-shadow: 1px 1px 4px  rgba(0, 0, 0, 0.441);
    height: 300px;
    border-radius: 5px;
   
    grid-template: auto auto / auto auto auto;
    grid-gap: 15px 5px;

    justify-items: center;/*Justify-items não está disponível para flxbox, alem disso ele ajusta os elementos na horizontal como no flex box*/
    align-items: center;/*Align-items ajusta os elementos na vertical*/
}

.r1 {
    background-color: lightseagreen;
}

.r2 {
    background-color: lightcoral;
}

.r3 {
    background-color: lightslategray;
}

.rect {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}