@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 15px;
}

header > p {
    margin: 0px 0px 15px 15px;
}

hr {
    margin: 15px;
}

h2 {
    margin: 25px 0px 15px 15px ;
}

body > p {
    margin: 15px;
}

ul {
    margin: 15px;
    padding: 0px 0px 0px 15px;
}

a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    padding: 0px 5px 0px 5px;
    background-color: rgba(211, 211, 211, 0.404);
    border-radius: 5px;
}

#git:hover {
    font-weight: bolder;
}

#git {
    color: white;
    background-color: rgba(0, 38, 255, 0.767);
    border-radius: 3px;
    text-decoration: none;
    padding: 0px 3px 0px 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao_inicio {
    background-image: linear-gradient(to right, blue, lightblue);
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao_inicio:hover {
    font-weight: bold;
}

#central {
    text-align: center;
    margin-bottom: 5px;
}