
@keyframes changeColor {
    0% {background-color: gray;}
    50% {background-color: yellow; width: 250px; }
    70% {background-color: brown; width: 270px; }
    100% {background-color: black; width: 180px; height: 500px;}
}

.box {
    width: 150px;
    height: 250px;
    border: 1px solid black;
    animation-name: changeColor;
    animation-duration: 1s;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.359);
    animation-iteration-count: 2;/*relacionado ao numero de repetições da animação*/
}

