@charset "UTF-8";

ul {
    list-style-type: none;
    padding:  10px 10px;
    font-size: 0.8em;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 10px 0px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

div {
    background-image: url("../imagens/backgorund.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    background-size: cover;
    margin: auto;
    padding: 1px 20px;
    box-sizing: border-box;
}